// pages
html {
  // for the popup rendering in a tab
  @apply mx-auto;
}

body,
#app {
  @apply h-full w-full m-0;
}

#app {
  @apply bg-darkBanner p-6 text-text text-base overflow-y-auto;
}

@font-face {
  font-family: Inter;
  src: url(~@@/fonts/Inter.ttf) format(font-truetype);
}

.page {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  cursor: pointer;
  color: #4ef2e4;
}

// buttons

.button-secondary {
  /* light/surface */
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;

  color: #ffffff;
  background: black;
}

.button-link {
  height: 48px;
}

button:disabled {
  opacity: 0.44;
}

.buttons > *:not(:last-child) {
  margin-bottom: 16px;
  display: block;
}

// inputs

input:not(.checkbox__control) {
  background: #262626; // TODO

  &:focus {
    background: #171717;
  }
}

.error,
.success {
  .input {
    .focus-border {
      display: none;
    }
  }
}

.error {
  .input {
    input {
      border: 1px solid #ff6072;
    }
  }
}

.success {
  .input {
    input {
      border: 1px solid #42ed05;
    }
  }
}

.form-info {
  font-size: 13px;
}

.form-info {
  &.error {
    color: #ff6072;
  }
  &.success {
    color: #89ff9b;
  }
}

.checkbox {
  background: #212121;
  border: none;
}

// typography

h1 {
  position: relative;
  display: block;

  /* 📕title/2 bold */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 127%;
  /* or 36px */

  text-align: center;
  letter-spacing: -0.02em;

  /* dark/text */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.secondary-text {
  opacity: 0.67;
}
